
:root{
  --fondogradiante:linear-gradient(to bottom, #245b8f, #2b8c99);  
  --colorglobal:#dd2476;
  --TextClaro: white;

}

body{
    font-family: "Titillium Web", sans-serif;
    background-color: rgb(98, 165, 185);
}

.Navbar {
   color: white;
    background-color: rgb(75, 127, 196);
    
}

main{

    height: auto !important;
    height: 100%;
    min-height: 80vh;
}
header{
    background: var(--colorglobal);
    color: var(--TextClaro);
    background: var(--fondogradiante);
}
footer{

    background: rgba(0, 0, 0, 0.815);
}

.iconos i{
    color:  var(--colorglobal);
   
}

.texto-cortado {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 🔹 Número de líneas antes de cortar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Testimonios {
    background-color: rgb(198, 218, 231);
    color: rgb(0, 0, 0);
}

#Articulos {
    background-color: rgb(5, 51, 59);
    color: white;
}