
:root{
  --fondogradiante:rgb(160, 203, 206);  
  --colorglobal:#dd2476;
  --TextClaro:#0c0c0c;
  --colorglobal2:#ffffff;

}

body{
    font-family: "Titillium Web", sans-serif;
    background-color: rgb(98, 165, 185);
}

#IdNav {
   color: white;
    background-color: rgb(15, 55, 73);
    
}

main{

    height: auto !important;
    height: 100%;
    min-height: 80vh;
}
header{
    background: var(--colorglobal);
    color: var(--TextClaro);
    background: var(--fondogradiante);
    border-radius: 10px;
}
footer{

    background: rgba(0, 0, 0, 0.815);
}

.iconos i{
    color:  var(--colorglobal2);
   
}

.texto-cortado {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 🔹 Número de líneas antes de cortar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Nosotros {
    background-color:#69bdbd;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

#Articulos {
    background-color: rgb(5, 51, 59);
    color: white;
    border-radius: 10px;
}

#Nosotros {
    background-color: rgb(5, 51, 59);
    color: white;
    border-radius: 10px;
    padding: 10px;
    max-height: fit-content;
}

#Clientes {
    background-color: rgb(5, 51, 59);
    color: white;
    border-radius: 10px;
    padding: 10px;
    max-height: fit-content;
}

#Proyectos {
    background-color: rgb(7, 73, 85);
    color: white;
    border-radius: 10px;
}

#Proyectos img {
    padding: 10px;
    width: 75%;
    border-radius: 5px solid black;
}

#Proyectos2 {
    background-color: rgb(7, 73, 85);
    color: white;
    border-radius: 10px;
}

#Proyectos2 img {
    padding: 10px;
    width: 75%;
    border-radius: 5px solid black;
}

 